#RewriteEngine On
#RewriteRule ^$ /public/ [L,R=301]
#RewriteRule ^$ /dev/public/ [L,R=301]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
